# Xmake cache
.xmake/
build/

# Binaries
bin/
lib/
*.so
*.dll
*.dylib
*.pyd

# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Python
__pycache__/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/
*.env
*.venv

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy and other type checking
.mypy_cache/
.dmypy.json
.pyre/

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE and editor settings
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Model files (large files)
models/
*.safetensors

# pip installer
get-pip.py
pip/