name: Build and test
on:
  pull_request:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        type: [release]
    runs-on: ${{ matrix.os }}
    steps:

    - name: checkout code
      uses: actions/checkout@v4

    - name: install xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: latest
    
    - name: Xmake Build & Install
      run: | 
        xmake -v
        xmake install -v
    
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    
    - name: Install Python dependencies
      run: | 
        python -m pip install --upgrade pip
        pip install torch --index-url https://download.pytorch.org/whl/cpu
        pip install transformers accelerate
    
    - name: Install Python package
      run: | 
        cd python
        pip install -e .
        cd ..

    - name: Assignment-0
      run: |
        python test/test_runtime.py --device cpu

    - name: Assignment-1
      run: |
        python test/test_tensor.py
    
    - name: Assignment-2
      run: |
        python test/ops/add.py 
        python test/ops/argmax.py
        python test/ops/embedding.py
        python test/ops/linear.py 
        python test/ops/rms_norm.py
        python test/ops/rope.py
        python test/ops/self_attention.py
        python test/ops/swiglu.py

    - name: Assignment-3
      run: |
        python test/test_infer.py --test
